@import "variables.css";

html,
body {
    background-color: var(--background-color);
    background-image: url("/media/photography/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
